.list-item {
  display: flex;
  column-gap: 8px;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid var(--gray-light);
}

.complete-button {
  display: flex;
  flex-basis: 30px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.circle-icon {
  border-radius: 50%;
}

.circle-icon:hover {
  opacity: 0.7;
}

.task {
  width: 100%;
}

.title {
  font-size: 14px;
}

.description {
  font-size: 12px;
  color: var(--indigo-blue);
  word-break: break-all;
}

.task-completed {
  color: var(--gray);
  text-decoration: line-through;
}

.task-action {
  display: flex;
  flex-shrink: 0;
  column-gap: 6px;
  padding-right: 8px;
}
