.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--orange);
  box-shadow: 0 1px 5px 0 var(--gray);
}

.text {
  color: var(--white);
}
